[Unit]
Description = SolarPi service for reading values from inverters and SDM.

[Service]
EnvironmentFile=-/home/pi/solarPi/docker/solarpi.env
Environment=PYTHONUNBUFFERED=1
ExecStart = /usr/bin/python3 /home/pi/solarPi/docker/combined/main.py
Restart=always
User=pi

[Install]
WantedBy=default.target
