[Unit]
Description = SolarPi service for read values.

[Service]
EnvironmentFile=-/home/pi/solarpi/docker/solarpi.env
Environment=PYTHONUNBUFFERED=1
ExecStart = /usr/bin/python3 /home/pi/solarpi/docker/combined/main.py
Restart=on-failure

[Install]
WantedBy=default.target